.starting{
 -fx-background-image: url('/images/starting.jpeg');
 -fx-background-size: 100% 100%;
}

.cards{
 -fx-background-image: url("/images/colors.jpg");
 -fx-background-size: 100% 100%;
}

.shop{
 -fx-background-image: url("/images/colors1.jpg");
 -fx-background-size: 100% 100%;
}

.menu{
 -fx-background-image: url('/images/menu.jpg');
 -fx-background-size: 100% 100%;
}

.schools{
 -fx-background-image: url('/images/green.jpg');
 -fx-background-size: 100% 100%;
}

.islands{
 -fx-background-image: url('/images/sea.jpg');
 -fx-background-size: 100% 100%;
 }

.endGame{
 -fx-background-image: url('/images/endGame.jpg');
 -fx-background-size: 100% 100%;
 }